{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}
{% block body %}

    <body class="hold-transition login-page ">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Assault</b>W40K</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">{{ "login.msglogin"|trans }}</p>
            {% if error %}
                <div style="color: red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('login_check') }}" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="username" placeholder="Nom usuari" name="_username"
                           value="{{ last_username }}"/>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="password" placeholder="Contrassenya"
                           name="_password"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{{ "login.sublogin"|trans }}</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <div class="social-auth-links text-center">
                {# ... #}
                {% set locale = app.request.locale %}
                {% if locale == 'es' %}
                    <span>Español</span>
                    <a href="{{ path('login', { _locale: 'en' }) }}">English</a>
                {% elseif locale == 'en' %}
                    <a href="{{ path('login', { _locale: 'es' }) }}">Español</a>
                    <span>English</span>
                {% endif %}
            </div>

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

    </body>
{% endblock %}