{% extends "base.html.twig" %}
{% block title %}{{ 'army.show'|trans }}{% endblock %}
    {% block page_content %}
        <!-- Page Content -->
        <div class="col-md-6 col-lg-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ army.name }}</h3><br>
                    <a href="{{ path('army_index') }}">{{ 'army.title'|trans }}</a><br>
                    <img src={{ asset('uploads/army/' ~ army.image) }}>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <h4 class="box-body">{{ 'unit.title'|trans }}</h4>
                            <ul>
                                {% for unit in army.units %}
                                    <li>
                                        <a href="{{ path('unit_show', {  'id':unit.id }) }}">{{ unit.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <h4 class="box-body">{{ 'weapon.title'|trans }}</h4>
                            <ul>
                                {% for wp in army.weapons %}
                                    <li>
                                        <a href="{{ path('wp_show', {  'id':wp.id }) }}">{{ wp.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('army_edit', { 'id':army.id }) }}"><span
                                    class="glyphicon glyphicon-pencil"></span>{{ 'generic.edt'|trans }}</a> <br>
                        <a href="{{ path('army_delete', { 'id':army.id }) }}" onclick="
                                return confirm('{{ 'army.delMsg'|trans }}')">
                            <button class="btn btn-danger">{{ 'generic.del'|trans }}</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- /.container -->
    {% endblock %}
{% block leng %}
    {% set locale = app.request.locale %}
    <li class="Button">
        <a href="{{ path(app.request.attributes.get('_route'), { _locale: 'en', 'id':army.id }) }}">
            {% if locale == 'en' %}
                <img src="{{ asset('dist/img/eng_flag.png') }}"/>
            {% else %}
                <img src="{{ asset('dist/img/eng_bw_flag.png') }}">
            {% endif %}
        </a>
    </li>
    <li>
        <a href="{{ path(app.request.attributes.get('_route'), { _locale: 'es', 'id':army.id  }) }}">
            {% if locale == 'es' %}
                <img src="{{ asset('dist/img/es_flag.png') }}">
            {% else %}
                <img src="{{ asset('dist/img/es_bw_flag.png') }}">
            {% endif %}
        </a>
    </li>
{% endblock %}